// Definitions for gpio-key module
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/dts-v1/;
/plugin/;

/ {
	compatible = "rockchip,rk3328";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			gpio_keys: encoderswitch@0 {
				compatible = "gpio-keys";
				pinctrl-names = "default";

				encswitch: key {
					label = "ENC_PRESS";
					linux,code = <28>;
					gpios = <&gpio2 RK_PC5 RK_FUNC_GPIO &pcfg_pull_up>;
					status = "okay";
				};
			};
		};
	};

};
